body{
    margin: 0;
}

/* nav */
ul{
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

li{
    list-style-type: none;
    margin-left: 10px;
}

li a{
    text-decoration: none;
    color: black;
}
.content{
    background-color: aquamarine;
}

/* user */
img{
    height: 200px;
    width: 200px;
    border-radius: 6px;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 4px;
}
.Resume{
    background: white;
    color: green;
    border: 1px solid green;
}

.user{
    display: flex;
    padding: 20px;
}

.user .left{
    padding: 20px;
    margin-right: 200px;
}
.user .center{
    padding: 10px;
    margin-right: 10px;
}
.user .right{
    padding: 10px;
}
/* Form */
form{
    padding: 20px;
}
form input{
    width: 1300px;
    border-radius: 4px;
}
.submit{
    background-color: rgb(73, 73, 238);
    border-radius: 4px;
}