/* svg icon
        https://www.svgrepo.com/
*/

body {
  background-color: #41c6ee;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 50%;
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(225, 212, 28);
  width: 10vw;
  height: 10vw;
  padding: 10px;
  display: grid;
  place-items: center;
  margin: 20px;
  border-radius: 20px;
}

.card p:nth-child(3) {
  color: black;
  margin: 0;
}

.card p:nth-child(2) {
  color: white;
  margin-top: 10px;
  font-size: 14px;
}

.icon {
  width: 3rem;
  height: 3rem;
}
input{
  border-radius: 6px;
}
button{
  border-radius: 6px;
}
